.stats-section {
  padding: 70px 0;
background: #B2B6FA;
/* background: linear-gradient(179deg, rgba(178, 182, 250, 0.75) 70%, rgba(228, 229, 253, 0.35) 100%); */
/* Stats Section Gradient */
background: linear-gradient(180deg, #a9a9fa 0%, #e3f7fa 100%);
  color: #0000006a;
  position: relative;
  overflow: hidden;

}

.stat-box h2 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 10px;
  opacity: 0.2;
}

.stat-box span {
  font-size: 62px;
  font-weight: 900;
  opacity: 1;
  color: #1e1e64;
  
}

.stat-box p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  
}
