.trustSection {
  padding: 100px 20px;
  background: #fff; 
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.tagline {
  text-align: center;
   font-family: "Birthstone", cursive;
  font-size: 40px;
  color:#6669F1 ;
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.logoSlider {

  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
 background-color: #fff;
 border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.4s ease;
  cursor: pointer;
  padding: 20px;
  margin: 20px 0px;
}

.logoWrapper:hover {

  opacity: 1;
  transform: scale(1.1);
}

.logoImg {
  max-width: 190px;
  max-height: 100px;
  object-fit: cover;
}