.section {
  padding: 100px 20px;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 80px;
}

.heading {
  font-size: 42px;
  font-weight: 800;
  color:#2574BD;
  margin-bottom: 20px;
  line-height: 1.1;
}

.subheading {
  color: #64748b;
  max-width: 650px;
  font-size: 16px;
  line-height: 1.6;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px 60px; 
}


.cardWrapper {
  position: relative;
  display: flex;
  align-items: stretch; 
  min-height: 350px; 
}
.card:hover{
    background: url('../../../assets/image/pattern-2.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.iconOverlay {
  position: absolute;
  top: 10px;
  left: -37px; 
  z-index: 10; 
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.cardWrapper:hover .iconOverlay {
  top: 50%;
  transform: translateY(-50%); 
}

.hexagon {
  width: 80px;
  height: 80px;
  background-color: #f5f7fbb4; 
  color: #213E6F;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  border: 1px solid #e2e8f0;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.4s ease;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.cardWrapper:hover .hexagon {
  background-color:#213E6F;
  color: #ffffff;
  border-color: #213E6F;
  
}


.card {
  background: #fff;
  border: 1px solid #e2e8f0;
  padding: 90px 30px 60px 70px; 
  width: 100%;
  transition: all 0.7s ease;
  position: relative;
  z-index: 1;
}


.card::before {
  content: '';
  position: absolute;
  left: -1px;
  top: 0;
  width: 2px;
  height: 100%;
  background-color:#213E6F;
  transform: scaleY(0);
  transition: transform 0.4s ease;
  transform-origin: top;
  z-index: 5;
}

.cardWrapper:hover .card::before {
  transform: scaleY(1);
}



.content h3 {
  font-size: 20px;
  color: #213E6F;
  margin-bottom: 12px;
  font-weight: 700;
}

.content p {
  color: #64748b;
  font-size: 18px;
  line-height: 1.6;
}


@media (max-width: 1024px) {
  .grid { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 768px) {
  .grid { grid-template-columns: 1fr; margin-left: 30px; }
}

