.wrapper {
  padding: 120px 0;
  background: #f5f7fb;
  text-align: center;
  
}

.heading {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #2574BD;
  margin-bottom: 80px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.card {
  background: white;
  padding: 30px 10px 30px 10px;
  border-radius: 18px;
  transition: all 0.6s ease-in-out;
  position: relative;
  border: 1px solid #e6e9f2;
}


.iconCircle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #eef1ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 25px;
  transition: 0.4s ease;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #1d2b53;
}

.card p {
  font-size: 15px;
  color: #213E6F;
  line-height: 1.6;
}


.card:hover {
  transform: translateY(-8px);
  /* box-shadow: -12px 0px 30px rgba(112, 95, 255, 0.35); */
  box-shadow: #2574BD 3px 3px, #2574BD 5px 5px, #2574BD 7px 7px;
}


 /* .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0px;
  background: linear-gradient(to bottom, #705fff, #bcb4ff);
  border-radius: 18px 0 0 18px;
  transition: width 0.4s ease;
} */

.card:hover::before {
  width: 6px;
}


.card:hover .iconCircle {
  background: #213E6F;
  color: white;
}

/* Responsive */
@media (max-width: 992px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
