.faqSection {
    padding: 80px 20px;
    background-color:#F7F9FC;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #2574BD; 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.accordion {
    border-top: 1px solid #e5e7eb;
}

.faqItem {
    border-bottom: 1px solid #e5e7eb;
}

.questionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    cursor: pointer;
    
    transition: all 0.3s ease;
}

.questionText {
    font-size: 1.2rem;
    font-weight: 700;
    color: #1e293b;
    display: flex;
    gap: 10px;
}

.id {
    color: #1e293b;
}

.icon {
    font-size: 1.5rem;
    color: #1a56db;
    display: flex;
    align-items: center;
}


.answerWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.answerWrapper.open {
    max-height: 300px; 
}

.answerContent {
    padding-bottom: 25px;
    color: #64748b;
    line-height: 1.8;
    font-size: 1.05rem;
}


@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .questionText {
        font-size: 1rem;
    }
}
@media (max-width:576px){
    .title{
        font-size: 20px;
    }
}
