.featureWrapper {
  padding: 80px 0;
  background-color: #fff;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.mainTitle {
  font-size: 36px;
  color: #2574BD; 
  margin-bottom: 60px;
  font-weight: 800;
}
@media (max-width:760px){
  .mainTitle{
    font-size: 25px;
  }
}

.featureGrid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 40px 60px;
  text-align: left;
}

.featureCard {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  transition: all 0.8s ease;

}
.featureCard:hover{
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-left: 5px solid   #213E6F;
}
.featureCard:hover .iconCircle{
    background-color: #213E6F;
    color: #fff;
}

.iconCircle {
  min-width: 60px;
  height: 60px;
  border: 2px solid #213E6F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#213E6F;
  font-size: 24px;
    transition: all 0.8s ease;
}

.textDetails h3 {
  font-size: 20px;
  color: #0f172a;
  margin-bottom: 8px;
  font-weight: 700;
}

.textDetails p {
  color: #64748b;
  line-height: 1.5;
  font-size: 15px;
}

@media (max-width: 768px) {
  .featureGrid { grid-template-columns: 1fr; }
}
